.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogs_item {
  padding: 10px;
  color: white;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
}

.dialog a {
  text-decoration: none;
}